<div id="log_in">
  <input type="text" placeholder="Username or email" ng-model="main.user.login">
  <input type="password" placeholder="Password" ng-model="main.user.password">
  <button class="btn btn-success" ng-click="main.login()">Log In</button>
</div>