<div class="container-fluid">
	<div class="row">
		<div clas="col-xs-12">
			<form>
				<input type="text" placeholder="name" ng-model="createProject.project.name">
				<input type="text" placeholder="description" ng-model="createProject.project.description">
				<button class="btn btn-danger" ng-click="createProject.backToProfile()">Back</button>
				<button class="btn btn-success" ng-click="createProject.createProject()">Create</button>
			</form>
		</div>
	</div>
</div>