<div class="container-fluid">
	<div class="row">
		<div clas="col-xs-12">
			<form>
				<input type="text" placeholder="name" ng-model="createGroup.group.name">
				<input type="text" placeholder="path" ng-model="createGroup.group.path">
				<input type="text" placeholder="description" ng-model="createGroup.group.description">
				<button class="btn btn-danger" ng-click="createGroup.backToProfile()">Back</button>
				<button class="btn btn-success" ng-click="createGroup.createGroup()">Create</button>
			</form>
		</div>
	</div>
</div>