<link rel="stylesheet" type="text/css" href="app/profile/profile.css">

<div class="container-fluid" id="profile">
	<div class="row">

		<div class="col-xs-4" id="profile-identification">
			<div id="profile-identification-name">
				<a ng-href="{{profile.user.avatar_url}}">
					<img id="profile-image" ng-src="{{profile.user.avatar_url}}">
				</a>
				{{profile.user.username}}
			</div>
			<div class="container-fluid" id="profile-get-menu">
				<div class="row">
					<div class="col-xs-12">
						<button class="btn btn-success" id="get-project-list-button" ng-click="profile.listProjects()">
							Get project list
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button class="btn btn-warning" ng-click="profile.listGroups()">
							Get group list
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button class="btn btn-success" ng-click="profile.createProyect()">
							Create Project
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button class="btn btn-warning" ng-click="profile.createGroup()">
							Create group
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button class="btn btn-danger" ng-click="profile.logOut()">
							Log out
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-4"	>
		</div>

		<div class="col-xs-8" id="timeline">
			<div id="projectList" ng-repeat="project in profile.projects">
				<hr>
				<span id="projectTitle">{{project.name_with_namespace}}</span><br>
				Default branch:{{project.default_branch}}<br>
				Description: {{project.description === "" ? "none" : project.description}}<br>
				Created at: {{project.created_at | date: 'medium'}}<br>
				Last modification at: {{project.last_activity_at | date: 'medium'}}<br>
				{{project.public ? "Public" : "Private"}} project<br>
				Project permission: 
				{{project.permissions.project_access.access_level === 50 ? 'Owner' : ''}}
				{{project.permissions.project_access.access_level === 40 ? 'Master' : ''}}
				{{project.permissions.project_access.access_level === 30 ? 'Developer' : ''}}
				{{project.permissions.project_access.access_level === 20 ? 'Reporter' : ''}}
				{{project.permissions.project_access.access_level === 10 ? 'Guest' : ''}}
				<br>
				<button class="btn btn-danger" ng-click="profile.deleteProject($index)">
					Delete
				</button>
				<div id="owner">
					Owner:
					<a ng-href="{{project.owner.avatar_url}}">
						<img id="owner-profile-pic" ng-src="{{project.owner.avatar_url}}">
					</a>
					{{project.owner.name}} | {{project.owner.username}}
				</div>
				<hr>
			</div>
			<div id="GroupList" ng-repeat="group in profile.groups">
				Name: {{group.name}}<br>
				Description: {{group.description}}
				<button ng-click="profile.listGroupMembers($index)">
					List members
				</button>
				<div id="memberList" ng-repeat="member in profile.groupMembers[$index]">
					Member #{{$index+ 1}}: 
					<a ng-href="{{member.avatar_url}}">
						<img id="memberImage" ng-src="{{member.avatar_url}}">	
					</a>
					name: {{member.name}} | {{member.username}}<br>
					Group permission:
					{{member.access_level === 50 ? 'Owner' : ''}}
					{{member.access_level === 40 ? 'Master' : ''}}
					{{member.access_level === 30 ? 'Developer' : ''}}
					{{member.access_level === 20 ? 'Reporter' : ''}}
					{{member.access_level === 10 ? 'Guest' : ''}}
				</div>
			</div>
		</div>

	</div>


</div>