#profile {
}
#profile-identification {
	color: white;
	background-color: black;
	height: 100vh;
	text-align: center;
	position: fixed;
}
#timeline {
	text-align: justify;
	background-color: grey;
}
#projectList {

}
#owner {

}
#owner-profile-pic {
	height: 20px;
	width: 20px;
}
#timeline-footer {

}
#profile-image {
    border: solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
#projectTitle {
	font-size: 20px;
}
#memberImage {
	height: 20px;
	width: 20px;
}